<%- include('partials/header') %>

  <h2 class="font-bold text-3xl text-pink-600">เลือกดูรายละเอียดสินค้า</h2><br />
  <h2 class="mt-5">Dools</h2>

  <select id="DollSelect" class="bg-pink-300 mb-5">
    <option value="">-- choose doll --</option>
    <% dolls.forEach(d=> { %>
      <option value="<%= d.doll_id %>">
        <%= d.doll_name %>
      </option>
      <% }) %>
  </select>

  <h2>Keychains</h2>

  <select id="KeySelect" class="bg-pink-300 mb-5">
    <option value="">-- choose key --</option>
    <% keys.forEach(k=> { %>
      <option value="<%= k.key_id %>">
        <%= k.key_name %>
      </option>
      <% }) %>
  </select>

  <hr>

  ID: <span id="a"></span><br>
  Name: <span id="b"></span><br>
  Price: <span id="c"></span><br>
  Picture:
  <span id="d"></span><br><br>
  <img id="img" width="150">

  <hr class="mt-5">
  <div class="bg-purple-200 w-full p-8 mt-0">
    <h2 class="mt-5 text-purple-700 text-3xl font-bold">จัดการข้อมูล</h2><br><br>

    <div>
      <div class="flex flex-col">
        <label class="text-lg font-semibold text-purple-700 mb-2"> Edit name : </label>
        <input id="doll_name" placeholder="doll name" type="text"
          class="border-2 border-purple-100 focus:border-purple-300 outline-none p-3 rounded-lg bg-white transition-all">
      </div>
      <div class="flex flex-col">
        <label class="text-lg font-semibold text-purple-700 mb-2">Edit price : </label>
        <input id="doll_price" placeholder="price"
          class="border-2 border-purple-100 focus:border-purple-300 outline-none p-3 rounded-lg bg-white transition-all">
      </div>
      <div class="flex flex-col">
        <label class="text-lg font-semibold text-purple-700 mb-2">
        Edit address : </label>
        <input id="doll_picture" placeholder="picture file name"
          class="border-2 border-purple-100 focus:border-purple-300 outline-none p-3 rounded-lg bg-white transition-all">
      </div><br><br>
    </div>


    <span class="gap-4 text-xl font-semibold text-white mt-5">
      <button onclick="create()" class="px-4 py-2 mr-7 ml-7 hover:bg-pink-300 bg-purple-500 rounded">Add</button>
      <button onclick="update()" class="px-4 py-2 mr-7 ml-7 hover:bg-pink-300 bg-purple-500 rounded">Update</button>
      <button onclick="remove()" class="px-4 py-2 mr-7 ml-7 hover:bg-pink-300 bg-purple-500 rounded">Delete</button>
    </span>
  </div>

  <%- include('partials/footer') %>

    <script>

      let currentType = '';
      // LOAD ONE
      document.getElementById('DollSelect').onchange = async function () {

        currentType = 'doll';

        const id = this.value;
        if (!id) return;

        const r = await fetch('/api/doll/' + id);
        const data = await r.json();

        document.getElementById('a').innerText = data.doll_id;
        document.getElementById('b').innerText = data.doll_name;
        document.getElementById('c').innerText = data.doll_price;
        document.getElementById('d').innerText = data.doll_picture;
        document.getElementById("img").src =
          "/img/" + data.doll_picture;

        document.getElementById("doll_name").value = data.doll_name;
        document.getElementById("doll_price").value = data.doll_price;
        document.getElementById("doll_picture").value = data.doll_picture;
      }

      document.getElementById('KeySelect').onchange = async function () {

        currentType = 'key';

        const id = this.value;
        if (!id) return;

        const r = await fetch('/api/key/' + id);
        const data = await r.json();

        document.getElementById('a').innerText = data.key_id;
        document.getElementById('b').innerText = data.key_name;
        document.getElementById('c').innerText = data.key_price;
        document.getElementById('d').innerText = data.key_picture;
        document.getElementById("img").src =
          "/img/" + data.key_picture;

        document.getElementById("doll_name").value = data.key_name;
        document.getElementById("doll_price").value = data.key_price;
        document.getElementById("doll_picture").value = data.key_picture;
      }


      // CREATE
      async function create() {

        const url = currentType === 'key'
          ? '/api/key'
          : '/api/doll';

        const payload = currentType === 'key'
          ? {
            key_name: document.getElementById("doll_name").value,
            key_price: document.getElementById("doll_price").value,
            key_picture: document.getElementById("doll_picture").value
          }
          : {
            doll_name: document.getElementById("doll_name").value,
            doll_price: document.getElementById("doll_price").value,
            doll_picture: document.getElementById("doll_picture").value
          };

        await fetch(url, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(payload)
        });

        location.reload();
      }

      // UPDATE
      async function update() {
        const id = document.getElementById('a').innerText;

        if (!id) {
          alert('กรุณาเลือกข้อมูลก่อน');
          return;
        }

        const url = currentType === 'doll'
          ? '/api/doll/' + id
          : '/api/key/' + id;

        const payload = currentType === 'doll'
          ? {
            doll_name: document.getElementById("doll_name").value,
            doll_price: document.getElementById("doll_price").value,
            doll_picture: document.getElementById("doll_picture").value
          }
          : {
            key_name: document.getElementById("doll_name").value,
            key_price: document.getElementById("doll_price").value,
            key_picture: document.getElementById("doll_picture").value
          };

        await fetch(url, {
          method: 'PUT',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(payload)
        });

        location.reload();
      }


      // DELETE
      async function remove() {

        const id = document.getElementById('a').innerText;

        if (!id) {
          alert('กรุณาเลือกข้อมูลก่อน');
          return;
        }
        const url = currentType === 'doll'
          ? '/api/doll/' + id
          : '/api/key/' + id;

        await fetch(url, {
          method: 'DELETE'
        });

        location.reload();
      }

    </script>