<%- include('partials/header') %>

    <h2 class="text-3xl font-bold mb-6">Dolls</h2>

    <div class="grid grid-cols-4 gap-6">

        <% dolls.forEach(d=> { %>

            <div class="bg-white shadow-lg rounded-lg p-4">

                <img src="/img/<%= d.doll_picture %>" class="w-full h-56 object-cover rounded">

                <h3 class="text-xl font-semibold mt-3">
                    <%= d.doll_name %>
                </h3>

                <p class="text-gray-600">
                    Price : <%= d.doll_price %>
                </p>

            </div>

            <% }) %>

    </div>

    <h2 class="text-3xl font-bold mt-12 mb-6">Keychains</h2>

    <div class="grid grid-cols-4 gap-6">

        <% keys.forEach(k=> { %>

            <div class="bg-white shadow-lg rounded-lg p-4">

                <img src="/img/<%= k.key_picture %>" class="w-full h-56 object-cover rounded">

                <h3 class="text-xl font-semibold mt-3">
                    <%= k.key_name %>
                </h3>

                <p class="text-gray-600">
                    Price : <%= k.key_price %>
                </p>

            </div>

            <% }) %>

    </div>
    <%- include('partials/footer') %>